<launch>
    <node name="rviz" pkg="rviz" type="rviz" />

    <node name="odom_to_tf" pkg="second_project" type="odom_to_tf" output="screen">
        <remap from="input_odom" to="/ugv/odom"/>
        <param name="child_frame" value="/wheel_odom"/>
        <param name="root_frame" value="map"/>
    </node>

</launch>

